<!DOCTYPE html>
<html>
  <head>
    <title>Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas - CRÉDITOS</h2>
	<p>Autor: Ramón Prieto</p>
	<img src="http://www.pekegifs.com/bobesponja/imagenes2/BobEsponja2.jpg" height="120" width="100"/>
	<br>
	<a href='/'> Volver</a>
  </body>
</html>
