
    <form method='get' action='/quizes/<%= quiz.id %>/answer'>
		<br/>
		<p>Pregunta: <%= quiz.pregunta %></p>
		<br/>
		<p><input type='text' name ='respuesta' placeholder='Respuesta'/></p>
		<br/>
		<input type='submit' value = 'Enviar'/>
	</form>
